/**********************************GERAL*******************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html, body{
    height: 100%;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

/*********************************************************************/

/**********************************HEADER*******************************/

header{
    padding: 20px 2% 35px 2%;
    height: 130px;
}

header .logo{
    float: left;
}

header nav.desktop{
    float: right;
    position: relative;
    top: 30px;
}

header nav.desktop ul{
    list-style-type: none;
} 

header nav.desktop ul li{
    float: left;
    font-size: 21px;
    padding: 0 20px;
    font-style: italic;
}

header nav.desktop a{
    color: black;
    text-decoration: none;
}

header nav.mobile{
    margin-top: 40px;
    display: none;
    float: right;
    width: 32px;
    height: 32px;
    background-image: url('../images/icon_menu.png');
    background-size: 100% 100%;
    cursor: pointer;
}

header nav.mobile ul{
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100px;
    z-index: 999;
    text-align: center;
    background-color: whitesmoke;
    border-bottom: 4px solid #EB2D2D;
}

header nav.mobile ul li{
    font-size: 23px;
    padding: 20px 0px;
    font-style: italic;
}

header.mobile ul li a{
    text-decoration: none;
    color: black;
}

/*********************************************************************/

/**********************************SECTION BANNER************************/

section.banner{
    width: 100%;
    height: 600px;
    background-color: black;
    background-image: url('../images/bg.jpg');
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.text-banner{
    padding: 120px;
    text-align: center;
}

.text-banner-single{
    width: 314px;
    margin-top: 10px;
    padding: 10px;
    height: 80px;
    color: white;
    font-size: 40px;
    transform: skew(-15deg);
    background-color: #EB2D2D;
}

.text-banner-single:nth-of-type(2){
    width: 200px;
    position: relative;
    left: -23px;
}

.text-banner-single:nth-of-type(3){
    width: 170px;
    position: relative;
    left: -47px;
}

.text-banner-single:nth-of-type(4){
    width:520px;
    height: 60px;
    font-size: 28px;
    background-color: white;
    color: black;
    position: relative;
    left: -67px;
}

.text-banner-single p{
    transform: skew(15deg);
}

/*********************************************************************/

/**********************************SECTION DESTAQUE*********************/

section.veiculos-destaque{
    padding: 90px 2%;
}

section.veiculos-destaque h2{
    text-align: center;
    font-size: 27px;
    font-style: italic;
}

section.veiculos-destaque .line{
    letter-spacing: -2px;
    margin: 0px 15px;
}

section.veiculos-destaque .container{
    max-width: 1000px;
    padding: 40px 0;
    text-align:center;
}

.vitrine-destaque{
    float: left;
    width: 33.3%;
}

.vitrine-destaque .carro-img{
    width: 100%;
    padding-top: 100%;
    border: 8px solid black;
    background-size: 100% 100%;
}

/*********************************************************************/

/**********************************RESPONSIVO***************************/

@media screen and (max-width: 1400px){

    section.banner{
        background-size: 90% auto;
        background-position: 200% 100%;
    }
}

@media screen and (max-width: 1024px){

    section.banner{
        background-size: cover;
        background-position: center;
        height: 70vh;
        min-height: 500px;
    }

    header nav.desktop{
        display: none;
    }

    header nav.mobile{
        display: block;
    }

    
}

@media screen and (max-width: 768px){

    .text-banner{
        padding: 80px 70px;
    }

    .text-banner-single{
        margin-top: 7px;
        width: 200px;
        height: 60px;
        font-size: 28px;
    }

    .text-banner-single:nth-of-type(2){
        width: 125px;
        left: -18px;
    }

    .text-banner-single:nth-of-type(3){
        width: 95px;
        left: -36px;
    }

    .text-banner-single:nth-of-type(4){
        width: 300px;
        height: 40px;
        font-size: 16px;
        left: -52px;
    }
    
}