/**********************************GERAL*******************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html, body{
    height: 100%;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

/*********************************************************************/

/**********************************HEADER*******************************/

header{
    padding: 20px 2% 35px 2%;
    height: 130px;
    border-bottom: 2.5px solid #EB2D2D;
}

header .logo{
    float: left;
}

header nav.desktop{
    float: right;
    position: relative;
    top: 30px;
}

header nav.desktop ul{
    list-style-type: none;
} 

header nav.desktop ul li{
    float: left;
    font-size: 21px;
    padding: 0 20px;
    font-style: italic;
}

header nav.desktop a{
    color: black;
    text-decoration: none;
}

header nav.mobile{
    margin-top: 40px;
    display: none;
    float: right;
    width: 32px;
    height: 32px;
    background-image: url('../images/icon_menu.png');
    background-size: 100% 100%;
    cursor: pointer;
}

header nav.mobile ul{
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100px;
    z-index: 999;
    text-align: center;
    background-color: whitesmoke;
    border-bottom: 4px solid #EB2D2D;
}

header nav.mobile ul li{
    font-size: 23px;
    padding: 20px 0px;
    font-style: italic;
}

header.mobile ul li a{
    text-decoration: none;
    color: black;
}

/*********************************************************************/

/****************************SECTION VENDA*******************************/

section.venda{
    padding: 90px 2%;
}

section.venda .title{
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

section.venda .line{
    letter-spacing: -2.5px;
    margin: 0px 20px;
}

.content-venda{
    margin-top: 40px;
}

.sidebar{
    float: left;
    width: 30%;
}

.search1{
    width: 90%;
}

.search1 h2{
    font-size: 21px;
}

.search1 .barra-preco{
    width: 100%;
    height: 15px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    position: relative;
}

.barra-preco-fill{
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 15px;
    border-radius: 20px;
    background: linear-gradient(to bottom, rgb(255,255,255), rgb(200,200,200
    ));
}

.pointer-barra{
    width: 15px;
    height:22px;
    border-radius: 8px;
    background-color: rgb(230,230,230);
    border: 1px solid rgb(210,210,210);
    position: absolute;
    left: 27%;
    top: -4px;
    cursor: pointer;
}

.valor-pesquisa{
    margin-top: 8px;
}

.valor-pesquisa p{
    font-size: 14px;
}

.valor-pesquisa p:nth-of-type(1){
    float: left;
}

.valor-pesquisa p:nth-of-type(2){
    float: right;
}

.search2{
    margin-top: 40px;
}

.search2 h2{
    font-size: 21px;
}

.item {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .item input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 6px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border: 1px solid rgb(230,230,230);
    border-radius: 2.5px;
  }
  
  .item input:checked ~ .checkmark {
    background-color: #EB2D2D;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .item input:checked ~ .checkmark:after {
    display: block;
  }
  
  .item .checkmark:after {
    top: 4px;
    left: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
  }

.vitrine-venda{
    float: left;
    width: 70%;
    text-align: center;
  }


.vitrine-destaque{
    float: left;
    width: 33.3%;
    margin-top: 20px;
}

.vitrine-destaque .carro-img{
    width: 100%;
    padding-top: 80%;
    border: 25px solid white;
    background-size: 100% 100%;
}

.vitrine-destaque .info-carro h2{
    font-size: 24px;
    font-style: italic;
}

.vitrine-destaque .info-carro p{
    font-size: 16px;
    color: #353535;
}

.vitrine-destaque .info-carro a{ 
    width: 125px;
    margin: 20px auto; 
}

.btn1{
    display: block;
    font-size: 18px;
    font-style: italic;
    text-decoration: none;
    color: white;
    background-color: #EB2D2D;
    padding: 10px;
    border-bottom: 2px solid rgb(70,70,70);
    border-radius: 5px;
}

.vitrine-destaque a:hover{
    background-color: #da2a2a;
}

/*********************************************************************/

/**********************************FOOTER*******************************/

footer{
    padding: 40px 2%;
    background-color: #252525;
}

footer nav{
    float: left;
    position: relative;
    bottom: 10px;
}

footer nav ul{
    list-style-type: none;
} 

footer nav ul li{
    float: left;
    font-size: 16px;
    padding: 0 20px;
    font-style: italic;
}

footer nav a{
    color: white;
    text-decoration: none;
}

footer p{
    float: right;
    color: white;
    font-size: 16px;
    font-style: italic;
    position: relative;
    bottom: 10px;
}

/*********************************************************************/

/**********************************RESPONSIVO***************************/

@media screen and (max-width: 1400px){

    section.banner{
        background-size: 90% auto;
        background-position: 200% 100%;
    }
}

@media screen and (max-width: 1024px){

    section.banner{
        background-size: cover;
        background-position: center;
        height: 70vh;
        min-height: 500px;
    }

    header nav.desktop{
        display: none;
    }

    header nav.mobile{
        display: block;
    }

    section.venda .line{
        letter-spacing: -5px;
    }

    section.contato .line{
        letter-spacing: -5px;
    }

    .vitrine-destaque{
        width: 50%;
    }

    
}

@media screen and (max-width: 768px){

    .text-banner{
        padding: 80px 70px;
    }

    .text-banner-single{
        margin-top: 7px;
        width: 200px;
        height: 60px;
        font-size: 28px;
    }

    .text-banner-single:nth-of-type(2){
        width: 125px;
        left: -18px;
    }

    .text-banner-single:nth-of-type(3){
        width: 95px;
        left: -36px;
    }

    .text-banner-single:nth-of-type(4){
        width: 300px;
        height: 40px;
        font-size: 16px;
        left: -52px;
    }

    section.venda .line{
        letter-spacing: -7px;
    }

    section.servicos-descricao{
        flex-direction: column;
    }

    .half1, .half2{
        width: 100%;
    }

    .w50{
        width: 100%;
    }

    .sidebar{
        width: 100%;
        text-align: center;
    }

    .search1{
        display: inline-block;
    }

    .search2{
        display: inline-block;
    }

    .vitrine-venda{
        text-align: center;
        width: 100%;
    }

    .vitrine-destaque{
        display: inline-block;
        float:none;
        width: 80%;
        margin-top: 20px;
    }

    .vitrine-destaque a{
        display: inline-block;
    }

    footer{
        text-align: center;
    }

    footer nav{
        display: none;
    }

    footer p{
        float: none;
    }

    
}

@media screen and (max-width: 600px){

    section.venda h2{
        font-size: 28px;
    }

    section.venda .line{
        display: none;
    }

    section.venda .container{
        text-align: center;
    }

}

